In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'user_id' : [99, 90, 88], 'user_name':['Bob', 'Max', 'Piter']})

In [5]:
import sqlite3

In [6]:
# Создали файл базы данных
con = sqlite3.connect('db_test')

In [9]:
# Выгрузили дф в БД
df.to_sql('db_test', con, index = False, if_exists = 'replace')

3

In [7]:
# сам запрос
sql = '''select * from db_test'''

In [10]:
# функция для отправки запроса в БД
def select(sql):
    return pd.read_sql(sql, con)

In [11]:
# выполнение запроса через функцию
select(sql)

   user_id user_name
0       99       Bob
1       90       Max
2       88     Piter