In [1]:
import pandas as pd

In [2]:
churn = pd.read_csv('C:/Users/Test/Documents/DS/docs/data_analyst/module_8/lesson_12/churn.csv')

In [3]:
churn.last_trip_date = pd.to_datetime(churn.last_trip_date)
churn.signup_date = pd.to_datetime(churn.signup_date)

churn['days_since_last_trip'] = churn.last_trip_date.max() - churn.last_trip_date
churn['days_since_last_trip'] = churn['days_since_last_trip'].dt.days

churn['churn'] = churn.days_since_last_trip.apply(lambda x: 'churn' if x > 30 else 'not_churn')

In [4]:
churn.groupby("churn").trips_in_first_30_days.describe()

             count      mean       std  min  25%  50%  75%    max
churn
churn      31196.0  1.658482  2.654222  0.0  0.0  1.0  2.0   73.0
not_churn  18804.0  3.306318  4.986743  0.0  0.0  2.0  4.0  125.0

In [5]:
churn.groupby("city").trips_in_first_30_days.describe()

                  count      mean       std  min  25%  50%  75%    max
city
Astapor         16534.0  1.948651  3.333600  0.0  0.0  1.0  2.0   73.0
King's Landing  10130.0  2.463672  4.326140  0.0  0.0  1.0  3.0  125.0
Winterfell      23336.0  2.431179  3.835147  0.0  0.0  1.0  3.0   71.0