In [ ]:
DataFrame.loc[source]
Access a group of rows and columns by label(s) or a boolean array.

In [2]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
      index=['cobra', 'viper', 'sidewinder'],      columns=['max_speed', 'shield'])

In [3]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
>>> df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [5]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [6]:
df.loc['cobra', 'shield']

2