In [ ]:
Для преобразования кода в стандарт SQL используются sql фораторы

In [ ]:
https://sqlformat.org/

In [ ]:
# Было
select t.age*3 as multiply_age from german_credit as t

In [ ]:
# Стало
SELECT t.age*3 AS multiply_age
FROM german_credit AS t